 .background {
   background-color: #000000;
}
 .text-white {
  color: #FFFFFF;
  font-size: 16px;

}
.centered {
 	padding-top :50px;
  text-align: center;
  font-size: 40px;
}
.centered-bottom {
  position:absolute; 
  bottom:0px;
  text-align: center;
}
.time {
 width:600px;
 height:250px;
 line-height:250px;
 color:#FFFFFF;
 font-size:100px;
 text-align:center;
 float:right;
}
.local-video {
 width: 420px;
 height: 340px;
 margin-right :70px;

}
.remote-video {
 margin-top: 20px;
 margin-bottom: 20px;
 width: 420px;
 height: 340px;
}
.panel-height {
  height: 100%;
  width: 350px;
  float:right;
  margin-right :70px;

}
.margin-top {
  margin-top: 100px;
}
.line-width {
  width: 550px;
  margin-left :0px;
}
.menu {
 cursor:pointer;
}
.menu .hide{
 display:none;
}