<!DOCTYPE html>
<html>
<head>
  <title>추가</title>
</head>
<body>
  <h1>추가</h1>
  <hr />
  <form method="post" action="/plan/insert">
    <fieldset>
      <legend>추가</legend>
      <table>
        <tr>
          <td><label>날짜</label></td>
          <td><input type="text" name="date" /></td>
        </tr>
        <tr>
          <td><label>내용</label></td>
          <td><input type="text" name="schedule" /></td>
        </tr>
    	</table>
      <input type="submit" />
    </fieldset>
  </form>
</body>
</html>