<!doctype html>
<html>
	<head>
		<title>SMARTMIRROR</title>
		<script src="news.js" type="text/javascrpit" charset="utf-8"></script>
	</head>
	<body>
		<% for (var i = 0; i < news.length; i++) { %>

    	<h4><%= news[i] %></h4>
	
		<% } %>

	</body>
</html>