<!DOCTYPE html>
<html lang="en">

<head>
  <title>Voice Call</title>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js'></script>
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <link href="/css/index.css" rel="stylesheet">

</head>
<script>

    if(annyang){
            //명령 포맷
	    var commands = { 
	         '끝내기' : function(){
	           window.history.back();
	         },
	         '채널생성' : function(){
	           $("#createChannel").trigger("click");
	         },
	          '명령어' : function(){
	         $(".menu>a").trigger("click");
	         }
	    };
      annyang.addCommands(commands);
      annyang.setLanguage('ko');
      annyang.addCallback('result', function(phrases) {
	       console.log(phrases[0]);
	        phrases[0] = phrases[0].replace(/ /g, '');
        
             if( phrases[0].indexOf("입장") != -1){
               var inputText =phrases[0];
                  inputText = inputText.replace('입장','');
                  document.getElementsByName("anotherUserName")[0].value = inputText;
                  $("#searchUser").trigger("click");
	        }
	           if( phrases[0].indexOf("이름") != -1){
               var inputText =phrases[0];
                  inputText = inputText.replace('이름','');
                  document.getElementsByName("myUserName")[0].value = inputText;
	        }
           
        });
        
	    annyang.start();
		}                                                     
				
</script>
<body class="background text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3">수신자</h2>
        <h3 class="h4">통화 채널 개설</h3>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="createChannelId">Channel Id</label>
            <input class="form-control" type="text" id="createChannelId" placeholder="채널 번호" value="" readonly>
          </div>
          <button class="btn btn-default" id="createChannel">
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 채널 생성
          </button>
        </form>
        
        <input type="text" name = "anotherUserName"  placeholder="상대 이름"  style="display: none;">
        <button type="submit" id = "searchUser" style="display: none;">검색</button>
        
        <input type="text" name = "myUserName"  placeholder="상대 이름" style="color:black" >

        <video class="remote-video center-block" id="callerRemoteVideo"></video>
        <video class="local-video pull-right" id="callerLocalVideo"></video>

      </div>

      <div class="col-md-6">
        <h2 class="h3">송신자</h2>
        <h3 class="h4">통화 채널 선택</h3>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="connectChannelId">Channel Id</label>
            <input class="form-control" type="text" id="connectChannelId" name="connectChannelId" placeholder="채널 번호를 입력하세요" value="">
          </div>
          <button class="btn btn-default" id="connectChannel">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 채널 입장
          </button>
        </form>

        <video class="remote-video center-block" id="calleeRemoteVideo"></video>
        <video class="local-video pull-right" id="calleeLocalVideo"></video>

      </div>

     <div>
      <ul>
        <li class="menu centered-bottom">
            <a><img src="" alt="명령어 목록"/></a>
            <ul class="hide">
                <li>"수신 대기하기"</li>
                <li>1.이름 <아이디></li>
                <li>2.채널 생성</li>
                
                 <li>"송신 하기"</li>
                <li><아이디> 입장</li>
                
            </ul>
        </li>
      </ul>
     </div>

    </div>
  </div>

 <script>
 $(document).ready(function(){
      $("#searchUser").click(function(){
          $.ajax({ 
        	type :'get',
            data:{
               userName : $('input[name="anotherUserName"]').val()
            },  
	        url : 'https://smartmirror-cloudserver-corelife.c9users.io/findUser',         //자기 서버 url로 바꾸면 됌. ex) https ----- /findUser
	        dataType : 'json',
	        success: function(redata){
              var data= redata;
              console.log(data);
              document.getElementsByName("connectChannelId")[0].value = data;
              $("#connectChannel").trigger("click");
            },
	        error: whenError
     	    });
      });
    $(".menu>a").click(function(){
          $(this).next("ul").toggleClass("hide");
      });  
 });
 
 function whenError(){
   alert("error");
 }
 
 function inputting(channelId){
          $.ajax({ 
        	type :'get',
            data:{
                channel_id : channelId,
                userName :$('input[name="myUserName"]').val()
            },  
	        url : 'https://smartmirror-cloudserver-corelife.c9users.io/channel',            //자기 서버 url로 바꾸면 됌 ex) https ----- /channel
	        dataType : 'json',
	        success: function(redata){
              var data= redata;
              console.log(data);
            }
     	    });
    }
    
  </script>
  <script src="http://www.playrtc.com/sdk/js/playrtc.js"></script> 
  <script>
    'use strict';

    var createChannelButton = document.querySelector('#createChannel');
    var createChannelId = document.querySelector('#createChannelId');
    var appCaller;

    appCaller = new PlayRTC({
      projectKey: "60ba608a-e228-4530-8711-fa38004719c1",
      localMediaTarget: "callerLocalVideo",
      remoteMediaTarget: "callerRemoteVideo"
    });

    appCaller.on('connectChannel', function(channelId) {
      createChannelId.value = channelId;
     // inputting(channelId);                                     ===================================================================서버 연결시 작동
    });

    createChannelButton.addEventListener('click', function(e) {
      e.preventDefault();
      appCaller.createChannel();
    }, false);
  </script>
  <script>
    'use strict';

    var connectChannelId = document.querySelector('#connectChannelId');
    var connectChannelButton = document.querySelector('#connectChannel');
    var appCallee;

    appCallee = new PlayRTC({
      projectKey: "60ba608a-e228-4530-8711-fa38004719c1",
      localMediaTarget: "calleeLocalVideo",
      remoteMediaTarget: "calleeRemoteVideo"
    });

    connectChannelButton.addEventListener('click', function(e) {
      e.preventDefault();
      var channelId = connectChannelId.value;
      if (!channelId) { return };
      appCallee.connectChannel(channelId);
    }, false);
  </script>
</body>

</html>
